[submodule "arras/distributed/minicoord"]
	path = arras/distributed/minicoord
	url = ../minicoord
	branch = main
[submodule "arras/arras4_core"]
	path = arras/arras4_core
	url = ../arras4_core
	branch = main
[submodule "moonray/scene_rdl2"]
	path = moonray/scene_rdl2
	url = ../scene_rdl2
	branch = main
[submodule "moonray/mcrt_denoise"]
	path = moonray/mcrt_denoise
	url = ../mcrt_denoise
	branch = main
[submodule "moonray/moonray"]
	path = moonray/moonray
	url = ../moonray
	branch = main
[submodule "moonray/moonshine"]
	path = moonray/moonshine
	url = ../moonshine
	branch = main
[submodule "moonray/moonshine_usd"]
	path = moonray/moonshine_usd
	url = ../moonshine_usd
	branch = main
[submodule "moonray/moonray_arras/mcrt_dataio"]
	path = moonray/moonray_arras/mcrt_dataio
	url = ../mcrt_dataio
	branch = main
[submodule "moonray/moonray_arras/mcrt_computation"]
	path = moonray/moonray_arras/mcrt_computation
	url = ../mcrt_computation
	branch = main
[submodule "moonray/moonray_arras/mcrt_messages"]
	path = moonray/moonray_arras/mcrt_messages
	url = ../mcrt_messages
	branch = main
[submodule "moonray/moonray_gui"]
	path = moonray/moonray_gui
	url = ../moonray_gui
	branch = main
[submodule "moonray/hydra/hdMoonray"]
	path = moonray/hydra/hdMoonray
	url = ../hdMoonray
	branch = main
[submodule "arras/arras_render"]
	path = arras/arras_render
	url = ../arras_render
	branch = main
[submodule "arras/distributed/arras4_node"]
	path = arras/distributed/arras4_node
	url = ../arras4_node
	branch = main
[submodule "cmake_modules"]
	path = cmake_modules
	url = ../cmake_modules
	branch = main
[submodule "moonray/hydra/moonray_sdr_plugins"]
	path = moonray/hydra/moonray_sdr_plugins
	url = ../moonray_sdr_plugins
	branch = main
[submodule "moonray/moonray_dcc_plugins"]
	path = moonray/moonray_dcc_plugins
	url = ../moonray_dcc_plugins
	branch = main
[submodule "moonray/render_profile_viewer"]
	path = moonray/render_profile_viewer
	url = ../render_profile_viewer.git
	branch = main
[submodule "rats"]
	path = rats
	url = ../rats
	branch = main
