usd_core>=0.22.5,<=0.24.3
openimageio>=2.3.20.0,<=2.4.8.0
gcc>=9.3,<=11
openvdb>=9,<=10
zlib>=1.2.8,<=1.2.11
clang==17.0.6
opensubdiv==3.5.0
alembic_utilities
amorphous
boost
cfx_fur==10
cuda>=12.1.0.
curl_no_ldap>=7.49.1.
embree>=4.2.0.
geometry
gtypes
imath==3
jsoncpp==1.9.5
libmicrohttpd>=0.9.71.
log4cplus>=1.1.2.
lua
mkl
oceanlib==10
openexr
openimagedenoise
optix>=7.6.0.
qt
random123==1.8.3
tbb
usd_imaging
uuid==1.0.0
willow>=10.2.0.
alembic
cmake
cppunit
ispc>=1.20.0.