# Run the OpenMoonRay+ CI/RaTS test suite for Rocky 9 after a merge to main for
# openmoonray or any of its submodules. Merges to any of the submodules cause an
# update to OpenMoonRay's submodule versions, which triggers a run. There is a delay
# before the run starts to allow all the triggers to happen before the last trigger
# starts the test run. Once started a start message is sent to the chatroom and
# which variants will be run by each of the runners is determined by looking at the
# package.py to divide up the variants to balance the load on each runner.
name: CI/RATS - Rocky9/Tin

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'
      - 'flowpipeline.yaml'
      - 'LICENSE'
      - 'tsc/**'

concurrency:
  group: WaitForUpdatesRocky9
  cancel-in-progress: true

env:
  CHATROOM: ${{ secrets.TRIGGER_RATS_CHATROOM }}
  OS_RELEASE: ${{ vars.OS_RELEASE }}
  REL_BOOT_DIR: ${{ vars.REL_BOOT_DIR }}

jobs:
  WaitForUpdates:
    runs-on: [EL9, rez]
    outputs:
      runnerVariantList: ${{ steps.Compute_variants.outputs.runnerVariantList }}
    continue-on-error: true
    steps:
      - name: Delay start
        run: |
          sleep 120
      - name: Report to Chat Room
        if: ${{ !cancelled() }}
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "Starting Rocky 9 CI/RaTS test run on ${{ github.ref_name }} to verify last merge was correct."}'
      - id: Get_package_py
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.BART_TOKEN }}
      - id: Get_PYTHONPATH
        if: ${{ !cancelled() }}
        shell: bash
        run: |
          source /rel/boot/rez/rezx.sh
          rez-env rez_earlybind python-3.9 -c 'printenv' | \
              egrep -e '^PYTHONPATH=' >> ${GITHUB_ENV}
      - id: Compute_variants
        if: ${{ !cancelled() }}
        shell: python3 {0}
        run: |
          from rez.packages import get_developer_package
          from math import floor
          from os import environ
          dp = get_developer_package("${{ github.workspace }}")
          variants = dp.data['variants']
          nVariants = len(variants)
          nRunners = 3
          minVariantsPerEntry = floor(nVariants / nRunners)
          spreadEvenVariants = minVariantsPerEntry * nRunners

          runnerVariants = []
          for r in range(nRunners):
              runnerVariants.append(
                  [str(v) for v in range(r, spreadEvenVariants, nRunners)])
          for v in range(nVariants-1, spreadEvenVariants-1, -1):
              runnerVariants[r].append(str(v))
              r -= 1
          runnerVariantList = [' '.join(vl) for vl in runnerVariants]

          github_output = environ["GITHUB_OUTPUT"]
          with open(github_output, "a") as out:
              out.write(f"runnerVariantList={runnerVariantList}\n")

  BuildTest:
    needs: WaitForUpdates
    if: ${{ !cancelled() }}
    strategy:
      fail-fast: false
      matrix:
        variants: ${{ fromJSON(needs.WaitForUpdates.outputs.runnerVariantList) }}
        include:
          - runner: rats
            variants: ${{ fromJSON(needs.WaitForUpdates.outputs.runnerVariantList)[0] }}
          - runner: moonbase
            variants: ${{ fromJSON(needs.WaitForUpdates.outputs.runnerVariantList)[1] }}
          - runner: moonbase
            variants: ${{ fromJSON(needs.WaitForUpdates.outputs.runnerVariantList)[2] }}
    runs-on: ${{ matrix.runner }}
    steps:
      - id: CleanupPreviousRun
        shell: bash
        run: |
          rm -rf * .??*
      - id: CloneOpenmoonray
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.BART_TOKEN }}
          submodules: recursive
          lfs: true
      - id: CloneRats_canonicals
        uses: actions/checkout@v5
        with:
          path: "rats_canonicals"
          repository: dwanim/rats_canonicals_tin
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: CloneMoonshine_dwa
        uses: actions/checkout@v5
        with:
          path: "moonray/moonshine_dwa"
          repository: dwanim/moonshine_dwa
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: CloneMoonray_tools
        uses: actions/checkout@v5
        with:
          path: "moonray/moonray_tools"
          repository: dwanim/moonray_tools
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: Build_variants
        run: |
          .github/workflows/scripts/build_and_test_variant.sh ${{ matrix.variants }}

  GreenMessage:
    needs: BuildTest
    if: ${{ !cancelled() && needs.BuildTest.result == 'success' }}
    runs-on: [EL9, rez]
    steps:
      - name: Report success to Chat Room
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "Rocky 9 CI/RaTS test run on ${{ github.ref_name }} complete with green status."}'

  RedMessage:
    needs: BuildTest
    if: ${{ !cancelled() && needs.BuildTest.result == 'failure' }}
    runs-on: [EL9, rez]
    steps:
      - name: Report failure to Chat Room
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "Rocky 9 CI/RaTS test run on ${{ github.ref_name }} complete with red status."}'
