name: CI RaTS

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'
      - 'flowpipeline.yaml'
      - 'LICENSE'
      - 'tsc/**'

concurrency:
  group: WaitForUpdates
  cancel-in-progress: true

env:
  CHATROOM: ${{ secrets.TRIGGER_RATS_CHATROOM }}

jobs:
  WaitForUpdates:
    runs-on: EL9
    continue-on-error: true
    steps:
      - name: Delay start
        run: |
          sleep 120
      - name: Report to Chat Room
        if: ${{ !cancelled() }}
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "Starting CI/RaTS test run on ${{ github.ref_name }} to verify last merge was correct."}'
  BuildTest:
    needs: WaitForUpdates
    if: ${{ !cancelled() }}
    strategy:
      fail-fast: false
      matrix:
        variants: ['0 3', '1 2', '4 5 6']
        include:
          - runner: rats
            variants: '0 3'
          - runner: moonbase
            variants: '1 2'
          - runner: moonbase
            variants: '4 5 6'
    runs-on: ${{ matrix.runner }}
    steps:
      - id: CleanupPreviousRun
        shell: bash
        run: |
          rm -rf * .??*
      - id: CloneOpenmoonray
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.BART_TOKEN }}
          submodules: recursive
          lfs: true
      - id: CloneRats_canonicals
        uses: actions/checkout@v5
        with:
          path: "rats_canonicals"
          repository: dwanim/rats_canonicals_tin
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: CloneMoonshine_dwa
        uses: actions/checkout@v5
        with:
          path: "moonray/moonshine_dwa"
          repository: dwanim/moonshine_dwa
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: CloneMoonray_tools
        uses: actions/checkout@v5
        with:
          path: "moonray/moonray_tools"
          repository: dwanim/moonray_tools
          token: ${{ secrets.BART_TOKEN }}
          lfs: true
      - id: Build_variants
        run: .github/workflows/scripts/build_and_test_variant.sh ${{ matrix.variants }}
  GreenMessage:
    needs: BuildTest
    if: ${{ !cancelled() && needs.BuildTest.result == 'success' }}
    runs-on: EL9
    steps:
      - name: Report success to Chat Room
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "CI/RaTS test run complete with green status."}'
  RedMessage:
    needs: BuildTest
    if: ${{ !cancelled() && needs.BuildTest.result == 'failure' }}
    runs-on: EL9
    steps:
      - name: Report failure to Chat Room
        run: |
          curl -X POST -H 'Content-Type: application/json' --url ${CHATROOM} \
              -d '{"text": "CI/RaTS test run complete with red status."}'
